.App {
  text-align: center;
}

body {
  overflow: hidden;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-wrapper {
  touch-action: none;
}

.App-link {
  color: #61dafb;
}

.hidden {
  height: 0;
  width: 0;
  opacity: 0;
  position: absolute;
  top: -100%;
}

.tool-wrapper {
  color: white;
  margin-top: 20px;
  position: relative;
  touch-action: none;

}
.z-index {
  z-index: 600;
}
.color-picker-abs {
  position: absolute;
  top: 1em;
  right: 1em;
}
.tool-wrapper label {
  margin-right: 5px;
}

.canvas-button {
  background: transparent;
  color: var(--black);
  font-size: 28px;
  position: absolute;
}
.increase-thickness-btn {
  position: absolute;
  top: 1em;
  right: 2em;

}

.add-canvas-btn {
  position: absolute;
  top: 1em;
  right: 1em;
  height: 68px;
  width: 68px;
}

.decrease-thickness-btn {
  position: absolute;
  top: 1em;
  right: 4em;
  background: transparent;
  color: var(--black);
  font-size: 28px;
}

.canvas-draw {

  position: relative;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.canvas-draw svg {
  height: 24px;
  width: 24px;
}

.buttonbar {
  z-index: 400;
  position: absolute;
}
.submit-btn {
  position: absolute;
  bottom: 1em;
  left: calc(50% - 24px);
  height: 68px!important;
  width: 68px!important;
}

.exit-drawing-btn {
  bottom: 1em;
  right: 1em;
}

button {
  border: white;
  background: hotpink;
  color: white;
  padding: 12px 16px;
  font-size: 18px;
}

.clear-btn {
  position: absolute;
  top: 1em;
  left: 1em;
}
.undo-btn {
  position: absolute;
  top: 1em;
  left: 3em;
}

.slider-picker {
  margin-top: 10px;
}

.slider-picker > div:first-child {
  height: 30px!important;
} 

.slider-picker .hue-horizontal > div > div {
  height: 32px!important
} 

.green {
  background: var(--blue)!important;
}
.top {
  position: absolute;
  top: 1em;
}
.left {
  position: absolute;
  left: 1em;
}
.right {
  position: absolute;
  right: 1em;
}
.bottom {
  position: absolute;
  bottom: 1em;
}

button {
  z-index: 500;
}

.admin-btn {
  background: transparent;
  padding: 50px;
  outline: none;
  border: none;
}

.wrapper {
  touch-action: none;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
}

.admin-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}
.admin-wrapper * {
  color: white;
}

.stream-canvas {
  animation: Rotate-canvas infinite 12s ease-in-out;
  background: transparent;
  touch-action: none;
}

.stream-canvas canvas {
  touch-action: none;
}

.qr-svg {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.qr-svg.scale {
  width: 400px;
  height: 400px;
  transform: scale(3);
}
#stream-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  touch-action: none;
  animation: Rotate-canvas-wrapper infinite 200s linear;

}

.admin-canvas-wrapper {
  padding: 100px;
  display: flex;
  flex-wrap: wrap;
}

.admin-canvas-wrapper canvas{
  touch-action: none;
}

.canvas-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.admin-modal {
  display: flex;
  overflow: hidden;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  position: absolute;
  background: var(--black);
  border: 3px solid var(--blue);
  z-index: 450;

}

.admin-item-relative {
  position: relative;
}
.admin-delete-btn {
  position: absolute;
  font-size: 16px;
  left: -30px;
  top: -15px;
  color: white;
  background: transparent;
}

.modal {
  z-index: 450;
  display: flex;
  overflow: hidden;
  max-height: 0;
  max-width: 0;
  position: absolute;
  bottom: -200%;
  background: var(--black);
  border: 3px solid var(--blue);
 
}
.slide-in {
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  max-height: unset;
  max-width: unset;
  animation: Slide-in 1s ease-in-out;
}

.brush-thickness-wrapper {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

@keyframes Rotate-canvas-wrapper {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Rotate-canvas {
  from {
    transform: rotate(0deg) scale(0);
  }
  to {
    transform: rotate(90deg) scale(2);
  }
}


@keyframes Slide-in {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}


@media only screen and (max-width: 768px) {
  .qr-svg {
    display: none;
  }
}
