:root {
  --yellow: #ffc600;
  --blue: #006DA8;
  --black: #282c34;
}

html {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900;
  font-size: 16px;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);

}

* {
  box-sizing: border-box;
  margin: 0;  
  padding: 0;  
  border: 0;  
  font-size: 100%;  
  font: inherit;  
  vertical-align: baseline; 
}

body {
  color: #e535ab;
  background: var(--black) url("./logo-square.png") no-repeat center ;
  background-size: 20%;
}

span {
  background-color: darkgrey;
  padding: 0.3rem;
  font-size: 0.8em;
  font-family: monospace;
}

#root {
  
  height: 100vh;
  width: 100vw;
}

p {
  line-height: 1.6em;
}

.tools {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

input[type=number] {
  width: 50px;
}